<nav class="pagination is-centered is-small" role="navigation" aria-label="pagination">

  <button (click)="previousPage()" class="pagination-previous" [disabled]="currentPage==1" >Previous</button>
  <button (click)="nextPage()" class="pagination-next" [disabled]="currentPage==totalPages" >Next</button>
  
  @if(showList) {
    <ul class="pagination-list">
      @for(page of pages; track $index) {
        @if(page % 2 == 0 || page == 1 || page == pages.length || page==currentPage) {
          <li>
            <a (click)="pageClicked(page)" class="pagination-link" [ngClass]="{'is-current': page==currentPage}">{{page}}</a>
          </li>
        }
      }
    </ul>
  }


</nav>