<div class="block">
    <h1 class="subtitle centered is-2">Commercial Admin</h1>
</div>

<div class="block">
    <div class="columns">
        <div class="column is-one-third">
            <div class="block">
                <h2 class="subtitle is-4">Search Plate</h2>
            </div>
            <div class="box">
                <form [formGroup]="plateForm" (submit)="getPlate()" method="POST">
                    <div class="field">
                        <label class="label">
                            <h1 class="subtitle is-5">Search</h1>
                        </label>
                        <div class="control">
                            <input class="input" name="Search" type="text" formControlName="Search">
                        </div>
                        @if(plateForm.get('Search')?.errors?.['plateForm'] && plateForm.get('Search')?.touched) {
                            <div class="control notification is-danger">
                                <label class="label"> A registration required.</label>
                            </div>
                        }
                    </div>                   
                    <button class="button is-dark spread" type="submit" [disabled]="plateForm.invalid">SUBMIT</button>
                </form>
            </div>
        </div>
        <div class="column is-two-thirds">
            <div class="block">
                <h2 class="subtitle is-4">Search Results</h2>
            </div>
            <div class="box">
                <div class="block">
                    <div class="data-list">
                        <div class="block">
                            @if(populated) {
                            <table class="table is-fullwidth is-narrow is-striped">
                                <thead>
                                    <tr>
                                        <th>Registration</th>
                                        <th>Purchase Price</th>
                                        <th>Sale Price</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Registration</th>
                                        <th>Purchase Price</th>
                                        <th>Sale Price</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @for(record of pagedResults; track $index) {
                                    <tr>
                                        <td>{{record.Registration}}</td>
                                        <td>£ {{record.PurchasePrice | currency: 'GBP' }}</td>
                                        <td>£ {{record.SalePrice| currency: 'GBP' }}</td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

